node_modules
.env
.git
.github
.gitignore
.dockerignore
WiredTiger*
_mdb_catalog.wt
collection-*.wt
index-*.wt
mongod.lock
storage.bson
sizeStorer.wt
diagnostic.data
journal
logs
test-results
tests
playwright.config.js
